<div class="container">
    <h1>Cadastro de ordens de Serviço</h1>
    <form [formGroup]="formOrderService">
        <mat-form-field>
            <mat-label>Descrição do problema</mat-label>
            <input type="text" matInput formControlName="description" placeholder="ex: máquina não liga">
            <mat-error *ngIf="(formOrderService.get('description')?.hasError('required'))">Descrição é obrigatória *</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Máquina</mat-label>
            <mat-select formControlName="idMachine">
                <mat-option *ngFor="let item of machines" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(formOrderService.get('item')?.hasError('required'))">Máquina é obrigatório *</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="level > 1">
            <mat-label>Técnico</mat-label>
            <mat-select formControlName="idTechnician">
                <mat-option *ngFor="let item of technicians" [value]="item.id">{{item.fullname}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(formOrderService.get('item')?.hasError('required'))">Nome do técnico é obrigatório *</mat-error>
        </mat-form-field>


        <div class="action-buttons">
            <button mat-fab extended type="button" (click)="cancel()">Cancelar</button>
            <button mat-fab extended color="primary" type="button" [disabled]="formOrderService.invalid"
                (click)="registerOrderService()">Cadastrar ordem</button>
        </div>
    </form>
</div>
