div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

button {
    flex: 1
}