main {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    position: relative;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-error {
    max-width: 360px;
    text-align: center;
}
