main {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}