@import '../assets/styles/variables';

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.invisible {
  visibility: hidden;
}

.content {
    height: 100%;
}

footer p {
    text-align: center;
}

.logoNav {
    width: 70px;
    border-radius: 50%;
}

nav > mat-toolbar {
    background: linear-gradient(68deg, $sam-primary 35%, $sam-secondary 94%);
    display: flex;
    justify-content: space-between;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    white-space: unset;
}

.left {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;

    & span {
        line-height: 22px;
    }
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;

    & span {
        line-height: 22px;
    }
}

@media screen and (max-width: 400px) {
    span.system-name {
        width: 36px;
        white-space: nowrap;
        overflow: hidden;
    }
}
