@import '../assets/styles/variables';

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
}

footer p {
    text-align: center;
}

.logoNav {
    width: 70px;
    border-radius: 50%;
}

nav > mat-toolbar {
    background: linear-gradient(68deg, $sam-primary 35%, $sam-secondary 94%);
    display: flex;
    justify-content: space-between;
}