<main>
    <table mat-table *ngIf="listUsers.length > 0" [dataSource]="listUsers" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> Nome de usuário </th>
          <td mat-cell *matCellDef="let element"> {{ element.userName }} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef> Nome completo </th>
          <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
        </ng-container>
      
       
         <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let element"> {{ enumLevels[element.level] }} </td>
        </ng-container>
      
        <!-- <ng-container matColumnDef="Telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let element"> Antonio </td>
        </ng-container>

        <ng-container matColumnDef="Cargo">
            <th mat-header-cell *matHeaderCellDef> Cargo </th>
            <td mat-cell *matCellDef="let element"> Antonio </td>
          </ng-container>

          <ng-container matColumnDef="Especialidade">
            <th mat-header-cell *matHeaderCellDef> Especialidade </th>
            <td mat-cell *matCellDef="let element"> Antonio </td>
          </ng-container>
       -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</main>