<div class="container">
    <h1>Cadastro de Máquinas</h1>
    <form [formGroup]="formMachine">
        <mat-form-field>
            <mat-label>Nome da máquina</mat-label>
            <input type="text" matInput formControlName="name" placeholder="ex: Maquina De Pega Ursinho">
            <mat-error *ngIf="(formMachine.get('name')?.hasError('required'))">Nome da máquina é obrigatório
                *</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Unidade da máquina</mat-label>
            <mat-select formControlName="idUnit">
                <mat-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="(formMachine.get('idUnit')?.hasError('required'))">Unidade é obrigatória *</mat-error>
        </mat-form-field>

        <div class="action-buttons">
            <button mat-fab extended type="button" (click)="cancel()">Cancelar</button>
            <button mat-fab extended color="primary" type="button" [disabled]="formMachine.invalid"
                (click)="registerMachineButton()">Cadastrar máquina</button>
        </div>

    </form>
</div>
