<div class="container">
    <mat-card class="menu" routerLink="/form-register">
        <mat-card-content>
            <mat-icon>engineering</mat-icon>
            <p>Cadastro de usuário</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
    <mat-card class="menu" routerLink="/list-users">
        <mat-card-content>
            <mat-icon>group</mat-icon>
            <p>Lista de colaboradores</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
</div>