div.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 20px;
    gap: 20px;
}

.menu {
    width: 300px;
}

mat-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
