<div class="container">
    <mat-card class="menu" routerLink="/form-register-user" *ngIf="level == 3" >
        <mat-card-content>
            <mat-icon>engineering</mat-icon>
            <p>Cadastro de usuário</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>

    <mat-card class="menu" routerLink="/list-users" *ngIf="level == 3">
        <mat-card-content>
            <mat-icon>group</mat-icon>
            <p>Lista de colaboradores</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card class="menu" routerLink="/form-register-machine" *ngIf="level == 3">
        <mat-card-content>
            <mat-icon>attractions</mat-icon>
            <p>Cadastro de máquinas</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>

    <mat-card class="menu" routerLink="/list-machines" *ngIf="level > 1">
        <mat-card-content>
            <mat-icon>location_on</mat-icon>
            <p>Mapa de máquinas</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card class="menu" routerLink="/form-register-service-order">
        <mat-card-content>
            <mat-icon>dvr</mat-icon>
            <p>Cadastro de Ordens de Serviço</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>

    <mat-card class="menu" [routerLink]="['/list-service-order', { orderServiceStatus: 1 }]">
        <mat-card-content>
            <mat-icon>checklist_rtl</mat-icon>
            <p>Ordens em aberto</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
</div>

<div class="container">
    <mat-card class="menu" *ngIf="level == 3" routerLink="/form-register-unit">
        <mat-card-content>
            <mat-icon>apartment</mat-icon>
            <p>Cadastro de unidades</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>

    <mat-card class="menu" *ngIf="level == 2" [routerLink]="['/list-service-order', { orderServiceStatus: null }]">
      <mat-card-content>
        <mat-icon>manage_search</mat-icon>
        <p>Minhas ordens</p>
        <mat-icon>chevron_right</mat-icon>
    </mat-card-content>
  </mat-card>

    <mat-card class="menu" *ngIf="level > 1" routerLink="/maintenance-history">
        <mat-card-content>
            <mat-icon>grading</mat-icon>
            <p>Histórico de Manutenção</p>
            <mat-icon>chevron_right</mat-icon>
        </mat-card-content>
    </mat-card>
</div>
